{{!< default}}

{{#author}}
    {{> "hero"
        class="compact"
        background_image=cover_image
        background_alt=name
        use_cover=true
        eyebrow="Meet the Team"
        title=name
        default_title="Our Farm Team"
        description=bio
        default_description=(concat "Stories and insights from " name ".")
        primary_cta="View Posts"
        primary_cta_url="#author-posts"
    }}
    <section class="outer">
        <div class="inner">
            <div class="info-panel">
                {{#if profile_image}}
                    <img class="author-bio-avatar" src="{{img_url profile_image size="s"}}" alt="{{name}}" width="96" height="96">
                {{/if}}
                <div class="meta-list">
                    {{#if location}}<span>{{location}}</span>{{/if}}
                    <span>{{plural ../pagination.total empty='0 posts' singular='% post' plural='% posts'}}</span>
                </div>
                <div class="social-links">
                    {{#if website}}<a href="{{website}}" aria-label="Website">{{> "icons/link"}}</a>{{/if}}
                    {{#if twitter}}<a href="{{social_url type="twitter"}}" aria-label="Twitter">{{> "icons/twitter"}}</a>{{/if}}
                    {{#if facebook}}<a href="{{social_url type="facebook"}}" aria-label="Facebook">{{> "icons/facebook"}}</a>{{/if}}
                    {{#if instagram}}<a href="{{social_url type="instagram"}}" aria-label="Instagram">{{> "icons/instagram"}}</a>{{/if}}
                    {{#if linkedin}}<a href="{{social_url type="linkedin"}}" aria-label="LinkedIn">{{> "icons/linkedin"}}</a>{{/if}}
                    {{#if mastodon}}<a href="{{social_url type="mastodon"}}" aria-label="Mastodon">{{> "icons/mastodon"}}</a>{{/if}}
                    {{#if threads}}<a href="{{social_url type="threads"}}" aria-label="Threads">{{> "icons/threads"}}</a>{{/if}}
                    {{#if bluesky}}<a href="{{social_url type="bluesky"}}" aria-label="Bluesky">{{> "icons/bluesky"}}</a>{{/if}}
                    {{#if tiktok}}<a href="{{social_url type="tiktok"}}" aria-label="TikTok">{{> "icons/tiktok"}}</a>{{/if}}
                    {{#if youtube}}<a href="{{social_url type="youtube"}}" aria-label="YouTube">{{> "icons/youtube"}}</a>{{/if}}
                </div>
            </div>
        </div>
    </section>
{{/author}}

<section class="outer" id="author-posts">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
                {{> "card-post"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </div>
</section>
