{{!< default}}

{{#post}}
<article class="post {{post_class}}">
    {{#if feature_image}}
        <figure class="post-hero">
            <img
                src="{{img_url feature_image size="l"}}"
                srcset="{{img_url feature_image size="m"}} 600w, {{img_url feature_image size="l"}} 1000w, {{img_url feature_image size="xl"}} 2000w"
                sizes="(min-width: 1024px) 960px, 100vw"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            >
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
    {{/if}}

    <header class="post-header content-width">
        {{#if primary_tag}}
            <a class="tag-pill" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
        {{/if}}
        <h1 class="post-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="post-excerpt">{{custom_excerpt}}</p>
        {{/if}}
        <div class="post-meta">
            <span class="post-meta__item">By {{authors}}</span>
            <span class="post-meta__item">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
            </span>
            {{#if reading_time}}
                <span class="post-meta__item">{{reading_time}} read</span>
            {{/if}}
        </div>
    </header>

    <div class="post-content gh-content">
        {{content}}
    </div>

    <footer class="post-footer content-width">
        {{#if comments}}
            <section class="post-comments">
                {{comments}}
            </section>
        {{/if}}

        {{#if @site.members_enabled}}
            {{#unless @member}}
                <div class="post-subscribe">
                    <h3>Gather Around Our Table</h3>
                    <p>Join our farm family for seasonal recipes, event invites, and journal highlights delivered weekly.</p>
                    <form data-members-form="subscribe">
                        <input type="email" name="email" placeholder="Email address" required>
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </form>
                    <div class="message-success" data-members-success>Welcome to the farm!</div>
                    <div class="message-error" data-members-error></div>
                </div>
            {{/unless}}
        {{/if}}

        {{#if primary_tag}}
            {{#get "posts" filter="id:-{{id}}+tag:{{primary_tag.slug}}" limit="3" include="tags,authors" as |related|}}
                {{#if related}}
                    <aside class="related-posts">
                        <h2 class="section-heading__title">More in {{primary_tag.name}}</h2>
                        <div class="post-feed related-posts__grid">
                            {{#foreach related}}
                                {{> "card-post"}}
                            {{/foreach}}
                        </div>
                    </aside>
                {{/if}}
            {{/get}}
        {{/if}}
    </footer>
</article>
{{/post}}
