{{!< default}}

{{#tag}}
    {{> "hero"
        class="compact"
        background_image=feature_image
        background_alt=name
        use_cover=true
        eyebrow="In the Journal"
        title=name
        default_title="In the Journal"
        description=description
        default_description=(concat "Stories and updates filed under " name ".")
        primary_cta="Subscribe"
        primary_cta_url="#newsletter"
    }}
    <section class="outer">
        <div class="inner">
            <div class="filter-bar">
                <a href="{{url}}">All</a>
                {{#get "tags" limit="all" include="count.posts"}}
                    {{#foreach tags}}
                        <a class="{{#match slug "=" ../../slug}}is-active{{/match}}" href="{{url}}">{{name}} ({{count.posts}})</a>
                    {{/foreach}}
                {{/get}}
            </div>
            <div class="post-feed">
                {{#foreach ../posts}}
                    {{> "card-post"}}
                {{/foreach}}
            </div>
        </div>
    </section>
{{/tag}}

<section class="outer">
    <div class="inner">
        {{pagination}}
    </div>
</section>
